 <!doctype html>

    <head>
        <meta charset="{{ site.charset }}" />
        <meta name="description" content="{{ site.description }}">
        <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="pingback" href="{{ site.pingback_url }}" />
        {{function('wp_head')}}

	</head>

	<body class="{{body_class}}" data-template="base.twig">
    {# screen reader #}
    <a class="skip-link screen-reader-text sr-only" href="#content">{{ _e( 'Skip to content') }}</a>

    {% include 'header.twig' %}

    <main id="main">

        {% if is_front_page %}
        <div id="content" class="mx-auto w-11/12 lg:w-3/4 pb-12">
        {% else %}
        <div id="content" class="mx-auto w-11/12 lg:w-3/5 py-8 sm:py-12">
        {% endif %}

            {% block content %}
                Sorry, no content
            {% endblock %}

        </div>

        {% if sidebar %}
            <aside id="sidebar" class="layout-sidebar">
                {{sidebar}}
            </aside>
        {% endif %}

    </main>

    {% block footer %}

        {% include 'footer.twig' %}

    {% endblock %}

    {{ function('wp_footer') }}

    </body>

</html>
