<header id="header" class="bg-gray-100 md:bg-white border-b-.5 border-gray-400 py-1">

{# mobile #}
    <nav class="flex items-center justify-between p-4">
        <div class="w-16 mr-2 transition duration-500 ease-in-out transform hover:scale-110">
        <a href="{{ site.url|e('esc_url') }}" title="home" rel="home">
            <img alt="logo" src="{{ site.icon }}" />
        </a>
        </div>

        <a href="#" title="menu">
            <button class="bg-transparent focus:bg-orange text-orange focus:text-gray-100 border-2 border-orange rounded-full py-3 px-8 inline-flex items-center transition duration-500 ease-in-out transform hover:scale-105 hover:shadow-outline">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 mr-1">
                <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span>menu</span>
            </button>
        </a>

        <div>
        <a href="https://www.google.com/maps/place/10564+5th+Ave+NE+%23203,+Seattle,+WA+98125/@47.706761,-122.322746,16z/data=!4m5!3m4!1s0x549011565ad2913d:0x6c9be49d7f0f372c!8m2!3d47.7067609!4d-122.3227461?hl=en" title="map">
            <button class="bg-orange rounded-full p-2 ml-2 transition duration-500 ease-in-out transform hover:scale-105 hover:shadow-outline">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-gray-100 w-8">
                <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
                </svg>
            </button>
        </a>

        <a href="tel:+1-202-330-2789" title="call">
            <button class="bg-orange rounded-full p-2 ml-2 transition duration-500 ease-in-out transform hover:scale-105 hover:shadow-outline">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-gray-100 w-8">
                <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
                </svg>
            </button>
        </a>
        </div>
    </nav>

{# desktop #}
    {# <a href="{{ site.url|e('esc_url') }}" title="Home" rel="home">
    <picture>
        <source srcset="{{ custom_logo_url|towebp }}" type="image/webp">
        <source srcset="{{ custom_logo_url|tojpg }}" type="image/jpeg">
        <img alt="logo" class="w-2/5" src="{{ custom_logo_url|resize(400, 300) }}" srcset="{{ custom_logo_url|resize(200, 150)|retina(1) }} 1x,
            {{ custom_logo_url|resize(800, 600)|retina(2) }}  2x,
            {{ custom_logo_url|resize(1600, 1200)|retina(3) }}  3x,
            {{ custom_logo_url|resize(2400, 2400)|retina(4) }}  4x">
    </picture>
    </a> #}

</header>
