<header id="header">
    <h1>
        <a href="{{site.url}}">{{site.name}}</a>
    </h1>
    <nav id="nav-main" class="flex flex-row" role="navigation">
        {% if items|default(top_menu.items) %}
            {% for item in items|default(top_menu.items) %}
                {% if item.children %}
                    <div x-data="{ hover: false }" class="relative">
                        <a id="menu-item-{{ item.id }}" href="{{ item.link }}" class="text-lg mx-4 flex items-center" @mouseenter="{hover=true}" @mouseleave="{hover=false}">{{ item.name }}</a>
                        <ul id="menu-item-list-{{ item.id }}" class="absolute ml-4 flex flex-col whitespace-no-wrap" x-show="hover" @mouseenter="{hover=true}" @mouseleave="{hover=false}">
                            {% for child in item.children %}
                                <li id="menu-item-child-{{ child.id }}">
                                    <a href="{{ child.link }}" class="">{{ child.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {%  else %}
                    <a id="menu-item-{{ item.id }}" href="{{ item.link }}" class="text-lg mx-4">{{ item.name }}</a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </nav>
</header>
