{% extends "preview.twig" %}

{% block content %}

    {% if post.thumbnail.src %}
        <a href="{{post.link}}"><img src="{{post.thumbnail.src|resize(640, 300)}}" /></a>
    {% endif %}
	<h2><a href="{{post.link}}">{{post.title}}</a></h2>
	{# <p>{{post.preview.length(25)}}</p> #}
    {# <time datetime="2020-07-20T15:33:41-04:00">{{ post.post_date|date('F j, Y') }}</time> #}
    <time datetime="{{ post.post_date|date('F j, Y') }}">{{ post.post_date|date('F j, Y') }}</time>

{% endblock %}
