{% extends "base.twig" %}

{% block content %}

    <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
        <img src="{{ post.thumbnail.src}}">
        <section class="article-content">
            <h1>{{ post.title }}</h1>
            <p>By<a href="{{post.author.path}}"> {{ post.author.name }} </a></p>
            <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
            <div>
                {{post.content}}
            </div>
        </section>
    </article>

{% endblock %}
